params {
    sample_id = "${SAMPLEID}"
    bwa_index = '/aryeelab/users/mark/nextflowmicroc/hg38.tgz'
    bwa_prefix = ''
    chrom_sizes = '/aryeelab/users/mark/nextflowmicroc/hg38.chrom.sizes'
    tmpdir = '/cluster/aryeelab/mark/tmp'
    outdir = "/cluster/aryeelab/mark/${SAMPLEID}"
    fq_input = "${SAMPLE_DIR}/${SAMPLEID}/*R{1,2}*.fastq.gz"
    mapped_pairs = "/cluster/aryeelab/mark/${SAMPLEID}/${SAMPLEID}.mapped.pairs"
    bam = "/cluster/aryeelab/mark/${SAMPLEID}/${SAMPLEID}.bam"
    mapped_stats = "/cluster/aryeelab/mark/${SAMPLEID}/${SAMPLEID}.stats.txt"
    failed_nodes_file = "/cluster/aryeelab/mark/failed_nodes.txt"
}
process {
    errorStrategy = 'retry'
    maxRetries = 3
    clusterOptions = {
        def nodeFile = params.failed_nodes_file
        if (task.attempt > 1) {
            def nodes = nodeFile.readLines().collect{it.trim()}.unique().join(',')
            return nodes ? "--exclude=${nodes}" : ""
        }
    }
    withName:juicer_hic {
        container = "juicer.sif"
        memory = '100 GB'
        cpus = 8
	time = '1.d'
    }
    withName:cooler {
        container = "cooler.sif"
        memory = '100 GB'
        cpus = 8
	time = '1.d'
    }
    withName:qc {
        container = "microc.sif"
        memory = '100 GB'
        cpus = 8
	time = '10.h'
    }
    withName:microc_align {
        container = "microc.sif"
        memory = '16 GB'
        cpus = 9
	time = '3.d'
    }
    withName:mergepairs {
        container = "microc.sif"
        memory = '100 GB'
        cpus = 16
	time = '3.d'
    }
    withName:footprint_counts {
        container = "footprinttools.sif"
        memory = '100 GB'
        cpus = 8
	time = '1.d'
    }
    withName:qc_py {
        container = "microcqc.sif"
        memory = '100 GB'
        cpus = 4
	time = '1.d'
    }
}
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${SINGULARITY_CACHE_DIR}"
}

process {
  executor = 'slurm'
}
