params {
    sample_id = "${SAMPLEID}"
    bwa_index = '/aryeelab/users/mark/nextflowmicroc/hg38.tgz'
    bwa_prefix = ''
    chrom_sizes = '/aryeelab/users/mark/nextflowmicroc/hg38.chrom.sizes'
    tmpdir = '/cluster/aryeelab/martin/tmp'
    outdir = "/cluster/aryeelab/martin/${SAMPLEID}"
    fq_input = "/aryeelab/data/johnstonelab/2022_LPS_MicroC/fastq/${SAMPLEID}/*R{1,2}*.fastq.gz"
    mapped_pairs= "/cluster/aryeelab/martin/${SAMPLEID}/${SAMPLEID}.mapped.pairs"
}
process {
    errorStrategy = 'retry'
    maxRetries = 3
    clusterOptions = {
        def nodeFile = new File("/cluster/aryeelab/martin/failed_nodes_microc_${params.sample_id}.txt")
        if (nodeFile.exists()) {
            def nodes = nodeFile.readLines().collect{it.trim()}.findAll{it}.unique().join(',')
            return nodes ? "--exclude=${nodes}" : ""
        }
        return ""
    }
    withName:juicer_hic {
        container = "juicer.sif"
        memory = '100 GB'
        cpus = 8
    }
    withName:cooler {
        container = "cooler.sif"
        memory = '100 GB'
        cpus = 8
    }
    // withName:qc {
    //     container = 
    // }
    withName:microc_align {
        memory = '10 GB'
        cpus = 6
    }
    withName:mergepairs {
        memory = '100 GB'
        cpus = 8
    }
}
singularity {
    enabled = false
}
apptainer {
    enabled = false
}
env {
    PATH = "/homes9/martin/miniforge3/envs/microc/bin:${PATH}"
}

process {
  executor = 'slurm'
}
